/**
 * DISCLAIMER
 * This is a temporary stylesheet meant to assist in migrating away from desktop-first responsive
 * CSS utilities.
 * DO NOT add utils in here unless you are actively taking part in in the migration.
 * We needed this new file for temporary utils to be defined _after_ the main, non-responsive
 * GitLab UI util.
 * This file is scheduled to be removed by the end of 2023.
 */
 .gl-sm-w-25p {
  @include gl-media-breakpoint-up(sm) {
    width: 25%;
  }
}

.gl-sm-w-30p {
  @include gl-media-breakpoint-up(sm) {
    width: 30%;
  }
}

.gl-sm-w-40p {
  @include gl-media-breakpoint-up(sm) {
    width: 40%;
  }
}

.gl-sm-w-75p {
  @include gl-media-breakpoint-up(sm) {
    width: 75%;
  }
}

.gl-sm-flex-direction-row-reverse {
  @include gl-media-breakpoint-up(sm) {
    flex-direction: row-reverse;
  }
}